

@media (min-width: 600px) {
    #contact {
        padding-right: 10px;
        padding-left: 10px;
    
    }
    .icon-logo a{
        margin-left: 15px;
        margin-right: 15px;
       
    }
}
@media(min-width: 1200px) {
    #project{
        margin-right: -30px;
    }
    .icon-logo a{
        margin-left: 20px;
        margin-right: 20px;
       
    }
}
@media (max-width: 600px){
    #contact{
        padding-right: 10px;
        padding-left: 10px;
    
    }
   
    #project{
        margin-left: -17px;
    }
    .border-z{
        margin-right: -7px;
        margin-left: -68px;
        margin-top: 20px;
    }
    .border-media{
        margin-left: -22px;
        margin-right: -22px;
        
    }
    .border-op{
        margin-left: 48px;
        margin-right: -14px;
    }
    .border-form{
        margin-left: 2px;
        margin-right: -4px;
    }
    .media-1{
        width: 35px;
        height: 35px;
        
    }
    .media-2{
        width: 35px;
        height: 35px;
        
    }
    .media-3{
        width: 35px;
        height: 35px;
        
    }
    .media-4{
        width: 35px;
        height: 35px;
        
    }
    .media-5{
        width: 35px;
        height: 35px;
        
    }
    .media-6{
        width: 35px;
        height: 35px;
       
    }
    
    .content h2 span{
        font-size: 57px;
        margin-left: -6px;
       
    }
    .container{
        text-align: center;
    }
    .icon-logo{
        margin-left: 58px;
    }
} 