body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.banner-img{
    background-image: url("./Images/image-1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    
}
nav .logo{
    color: #333;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
}
nav .logo span{
    color: orange;
    font-size: 55px;
}
.content{
   margin-top: 150px;
}
.content h2{
    font-size: 85px;
    color: #333;
    transition: 0.5s;
}
.content h2 span{
    color: orange;  
}
.content p{
    font-size: 25px;
    color: #333;
    margin: 10px 0;
}
.button-o{
    text-decoration: none;
    font-weight: bold;
}
.about-o{
    margin-top: 300px;   
}
.about-m{
    color: orange;
    font-size: 50px;
}
.about-a{
    color: orange;
}
.about-roe{
    margin-top: 20px;

}
.button-bttn{
    text-align: center;
}
.button-chang{
    gap: 50px;
}
.border-z{
    border: 3px solid orange;
}
.border-contact{
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    
}
#contact{
    padding-right: 400px;
    padding-left: 400px;

}
.border-cad {
    padding-bottom: 110px;
}
.border-text{
    margin-top: 90px;
}
.border-op{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footer-container {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;
    padding: 30px;
  }
 /* hover */
  .nav-item .nav-link{
    position: relative;
  }
  
  .nav-item .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: orange;
    transform-origin: bottom right;
    transition: transform 0.40s ;
} 
.nav-item .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* media */
  /* @media(max-width: 600px) {
    #contact{
        padding-right: 10px;
        padding-left: 10px;
    
    }
    .icon-logo a{
        margin-left: 10px;
        margin-right: 10px;
       
    }
    #project{
        margin-left: -17px;
    }
} */
@media (min-width: 600px) {
    /* #contact {
        padding-right: 10px;
        padding-left: 10px;
    
    }
    .icon-logo a{
        margin-left: 15px;
        margin-right: 15px;
       
    } */
    /* #project{
        margin-right: 30px;
    } */
}
/* @media(min-width: 1200px) {
    #project{
        margin-right: -30px;
    }
    .icon-logo a{
        margin-left: 20px;
        margin-right: 20px;
       
    }
} */
